<div class = "login-page">

<div class="form">
<form method="post" action="/users/login" class="login-form">
  <div class="form">

    <img class="logo" src="/images/logo.png" alt="LoginApp">
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button type="submit"><strong>login</strong></button>
</form>
</div>
</div>